<footer class="footer mt-auto py-3 bg-body-tertiary" id="sticky-footer">
  <div class="container text-center">
    <span class="text-body-secondary text-white">Copy Right &copy; <%= link_to "My Website", "https://google.com" %></span>
  </div>
</footer>